body{
  margin: 0;
  padding: 0;
}
/* Example CSS for Toastify notifications */
.Toastify__toast-container {
  z-index: 9999; /* Ensure Toastify notifications appear above other elements */
}

/* Style for each individual notification */
.Toastify__toast {
  font-family: Arial, sans-serif;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style for success notifications */
.Toastify__toast--success {
  background-color: #4caf50; /* Green color for success notifications */
  color: #fff; /* White text color */

}

/* Style for error notifications */
.Toastify__toast--error {
  background-color: #f44336; /* Red color for error notifications */
  color: #fff; /* White text color */
}

/* Style for warning notifications */
.Toastify__toast--warning {
  background-color: #ff9800; /* Orange color for warning notifications */
  color: #fff; /* White text color */
}

/* Style for info notifications */
.Toastify__toast--info {
  background-color: #2196f3; /* Blue color for info notifications */
  color: #fff; /* White text color */
}
